/* IMPORTAÇÃO DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #fff;
    --color-secondary: rgb(75, 146, 251);
}

/* RESET GLOBAL */
*, *::after, *::before, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    word-break: break-word;
}

html, body {
    font-size: 16px;    
    line-height: 26px;
    color: #414141;
    -webkit-text-size-adjust: 100%;
    background-color: var(--color-primary);
    overflow-x: hidden;
}

/* CABEÇALHO */
header {
    position: relative;
    padding: 16px 20px;
    z-index: 2;
    background: var(--color-secondary);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.header-content {
    max-width: 1180px;
    margin: auto;
}


.title {
    font-family: Poppins, serif; 
    font-size: 1rem;
    font-size: clamp(1rem, 0.8076923076923077rem + 0.8205128205128207vw, 1.3rem);
    color: var(--color-primary);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}

/* CONTAINER PRINCIPAL */
main {
    position: relative;
    max-width: 1180px;
    margin: auto;
    display: block;
    padding: 50px;
    min-height: auto;
}

/* PAINEL DE INTERFACE */
.interface-panel {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    min-height: 500px;
}

/* RESULTADO */
#drawResult {
    gap: 500px;
    height: 3em;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-size: clamp(1rem, 0.6794871794871795rem + 1.3675213675213675vw, 1.5rem);
    color: #000000;
    font-weight: 600;
    width: 100%;
    white-space: normal;
}

/* MENSAGEM DE ALERTA */
.alert-message {
    font-family: Poppins, sans-serif; 
    height: 2em;
    text-align: center; 
    color: #000000; 
    background-color: var(--color-primary); 
    border-radius: 5px;
    opacity: 0; /* Torna invisível */
    visibility: hidden; /* Remove do fluxo do layout */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Efeito suave */
}

/* LISTA DE PARTICIPANTES */
.participants {
    position: relative; 
    display: flex; 
    justify-content: center; 
    width: 100%;
    min-height: 10rem; 
    color: #000000; 
    overflow: hidden;   
    border-radius: 24px; 
    border: 2px solid #cfddf8;
    box-shadow: rgba(207, 221, 248, 0.842) 0px 12px 48px -8px;
    border-top-width: 0px;
    margin-bottom: 2rem;
}

.participants label {
    position: absolute; 
    top: 0; 
    text-align: center; 
    font-family: Poppins, sans-serif; 
    color: #cfddf8; 
    pointer-events: none; 
    background-color: transparent; 
    z-index: 1; 
}

#participantsList {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 250px));
    gap: 0.5rem; 
    width: 100%; 
    max-height: 6rem;
    overflow-y: auto; 
    scrollbar-gutter: stable;
    margin: 1.5rem 0 0 0; 
    padding: 1rem 1rem 0 1rem; 
}

#participantsList li {
    width: 100%; 
    height: 35px; 
    padding: 0.5em; 
    font-size: 0.9em;
    font-family: Poppins, sans-serif; 
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    background-color: #a5a5a525;
    border-radius: 5px;
}

/* FORMULÁRIO */
.form-container {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
}

/* INPUT */
.input-group {
    position: relative; 
    width: 100%; 
}

.input-field {
    width: 100%; 
    height: 3.5em; 
    padding: 0 1rem; 
    font-family: Poppins, sans-serif; 
    font-size: 1em; 
    color: #000000; 
    border: 2px solid #cfddf8; 
    border-radius: 20px; 
    background: transparent; 
    outline: none; 
}

.input-group label {
    position: absolute; 
    top: 50%; 
    left: 1rem; 
    padding: 0 5px; 
    font-family: Poppins, sans-serif; 
    color:  #c2c2c2; 
    border-radius: 20px;
    pointer-events: none; 
    transform: translateY(-50%); 
    transition: 0.3s; 
}

.input-group input:focus ~ label, 
.input-group input:valid ~ label {
    top: 0; 
    font-size: 0.7rem; 
    font-weight: 500; 
    color: #cfddf8; 
    background-color: var(--color-primary);
    border-radius: 20px; 
}

/* BOTÕES */
.btn-add {
    margin-top: 1rem; 
}

.btn-reveal {
    margin-top: 0.5rem; 
}


.btn {
    width: 100%;
    padding: 1.2rem;
    position: relative;
    background: var(--color-secondary);
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border: none;
}

.btn-add, .btn-reveal {
    box-shadow: -6px -6px 10px rgb(228, 229, 226, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    color: var(--color-primary);
}

.btn-add:hover, .btn-reveal:hover {
    opacity: 0.6;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.9),
        6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn-add:active, .btn-reveal:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}


.decoration img {
    position: absolute; /* Define a posição do elemento como absoluta em relação ao seu contêiner pai */
    
    /* Calcula a posição horizontal da imagem:
       - 50% posiciona no centro do contêiner.
       - Subtrai 40px para ajustar a imagem para a esquerda.
       - A segunda parte da expressão ajusta dinamicamente a posição com base no tamanho da tela e a largura do contêiner, criando um espaçamento proporcional. */
    left: calc(50% - 40px - ((100% - 1220px) / 3));

    top: 5px; /* Define a posição da imagem a 215px do topo do contêiner */
    
    right: 0px; /* Define a distância da imagem para a borda direita como 0px, o que pode ser redundante, já que 'left' e 'right' não costumam ser usados juntos em posicionamento absoluto */
    
    width: 650px; /* Define a largura da imagem como 516px */

    height: 595px; /* Define a altura da imagem como 495px */
    
}

.decoration a {
    position: absolute; 
    margin-top: 50px; 
    right: 0px;
    font-size: 0.8rem; 
    color: #333;  
}


@media screen and (max-width: 768px) {
    main {
        padding: 30px;
        min-height: calc(100vh - 80px);
    }

    .interface-panel {
        position: relative;
        z-index: 1;
        max-width: 365px;
    }

    .decoration {
        display: none;
    }

    img {
        overflow-clip-margin: content-box;
        overflow: clip;
    }
}

@media screen and (max-width: 480px) {
    #participantsList {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 350px));
    }
}
